# Base Sepolia RPC URL
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Private key for deployment (without 0x prefix)
PRIVATE_KEY=03cc69063fc9739d172182c4c7a808eef2531a738e8b8d244c0440d4392ecc25

# Etherscan API key for verification
ETHERSCAN_API_KEY=https://base-sepolia.g.alchemy.com/v2/alch_uU61mK9LIAjr8n0ttoRNZ